# virtual env
venv/
ENV/
env/

# Python caches
__pycache__/
*.pyc

# IDE files
.vscode/
*.suo
*.user
*.userosscache
*.sln

# Local database files
*.db

# Environment / secrets
.env
*.env

# OS files
Thumbs.db
.DS_Store
